{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<title>Home Automation Login</title>
		<link rel="stylesheet" type="text/css" href="{% static 'users/css/base_style.css' %}">
		{% block styles %}
		{% endblock %}
	</head>
	<body>
		<div class="container">
			<!--
			<div class="navbar">
				<div class="navbar__left">
					<div class="navbar__logo navbar__item">Home Automation Login</div>
				</div>
				<div class="navbar__right">
					<ul class="navbar__menu">
					{% if user.is_authenticated %}
						<li class="navbar__item">Logged as: {{ user.get_username }}</li>
						<li class="navbar__item"><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li> 
					{% endif %} 
					</ul>
				</div>	
			</div>
			-->
			<div class="content">
				{% block content %}

		  		{% endblock %}
			</div>
		</div>
	</body>
</html>
